.grid-container.mainChart {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.grid-item {
    padding: 5px;
    text-align: center;
}
.grid-item.logo {
    grid-column: span 6;
}
.grid-item.lgChart {
    grid-column: span 5;
    grid-row: span 4;
    border: 1px solid black;
}
.grid-item.timeFrames {
    grid-row: span 4;
}
.grid-item.options {
    grid-column: span 6;
}
.grid-item.smChart1,
.grid-item.smChart2,
.grid-item.smChart3 {
    grid-column: span 2;
    grid-row: span 3;
    border: 1px solid black;
}
.grid-container.charts {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
.grid-item.chart {
    grid-row: span 2;
}
.btn.btn-secondary {
    display: block;
    width: 50px;
    border: solid 1px white;
}